@import '../../../config.scss';

.RemoveCourseModal {
  position: absolute;
  background-color: white;
  border: none;
  box-shadow:
    0px 3px 5px -1px rgba(0,0,0,0.2),
    0px 5px 8px 0px rgba(0,0,0,0.14),
    0px 1px 14px 0px rgba(0,0,0,0.12);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.RemoveCourseModal__app-bar {
  background-color: $primary-color !important;
}

.RemoveCourseModal__body {
  padding: 15px !important;
}

.RemoveCourseModal__footer {
  text-align: right;
}

.RemoveCourseModal__button {
  background-color: $primary-color !important;
}

.RemoveCourseModal__button--cancel {
  background-color: $secondary-color !important;
  margin-right: 10px !important;
}

.RemoveCourseModal__footer {
  padding: 15px !important;
}

@media only screen and (max-width: $s-screen-width) {
  .RemoveCourseModal {
    width: 95%;
  }
}